@import "bourbon/_bourbon.scss";

#animacion {
  max-width: 100%;
  width: 100%;
  height: 350px;
}

#mapa, #video {
  width: 100%;
}

#contenedorImagenes {
  text-align: center;
  width: 89%;
  max-height: 350px;
  margin: 0 auto;
  margin-left: 5%;
  position: relative;
}

#imagenes > img {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: AnimacionGaleria 18s linear infinite 0s;
  -moz-animation: AnimacionGaleria 18s linear infinite 0s;
  -o-animation: AnimacionGaleria 18s linear infinite 0s;
  -ms-animation: AnimacionGaleria 18s linear infinite 0s;
  animation: AnimacionGaleria 18s linear infinite 0s;
  &:nth-child(2) {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
  }
  &:nth-child(3) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
  }
  &:nth-child(4) {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
  }
}

@-webkit-keyframes AnimacionGaleria {
  0% {
    opacity: 0;
  }

  8% {
    opacity: 1;
  }

  22% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


@keyframes AnimacionGaleria {
  0% {
    opacity: 0;
  }

  8% {
    opacity: 1;
  }

  22% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


#columna-contenido {
  width: 59%;
  max-width: 600px;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

#columnas {
  padding-right: 2%;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 39%;
  padding-bottom: 3px;
}

.colum1, .colum2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

div#panel {
  width: 100%;
  padding-right: 2%;
  display: table-cell;
  h1 {
    border-radius: 5px;
    font-size: 26px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: Calibri;
    color: white;
    background-color: olive;
  }
  p {
    margin-bottom: 8px;
    text-align: justify;
  }
  div.pequena {
    margin: 10px;
    display: inline-block;
    height: 120px;
    width: 110px;
    border-radius: 5px;
    border: 1px solid #333;
  }
  img {
    height: 120px;
    width: 110px;
  }
}

h2 {
  border-radius: 5px;
  font-size: 26px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: Calibri;
  color: white;
  background-color: olive;
}

div#sprite {
  width: 100%;
  padding: 1%;
  margin: 10px 0;
  background: olive;
  border: 1px;
  border-style: solid;
  color: white;
  text-align: left;
  float: right;
  @include border-color(black black black black null);
  background-color: olive;
  box-shadow: 0px 0px 2px #666;
  border-radius: 5px;
  overflow: hidden;
  ul li {
    float: left;
    list-style: none;
    cursor: pointer;
    img {
      background-image: url(../images/sprite.png);
      background-repeat: no-repeat;
      width: 0px;
      height: 15px;
      padding-left: 17px;
    }
    &#fb img {
      background-position: -342px 0px;
    }
    &#rss img {
      background-position: -72px -54px;
    }
    &#tw img {
      background-position: -342px -54px;
    }
  }
}

table {
  width: 80%;
  height: 10%;
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
}

#container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 25px;
  div img {
    border-radius: 25px;
    margin: 5px;
  }
}

@media screen and (max-width: 760px) {
  #columna-contenido {
    width: 100%;
    max-width: 100%;
  }
  #columnas {
    width: 100%;
    padding-bottom: 3px;
  }
  .colum1, .colum2 {
    width: 100%;
  }
}

@media screen and (max-width: 481px) {
  nav {
    background: white;
    li {
      float: left;
      width: 96%;
      padding: 0px;
      margin-left: 0px;
    }
    a {
      float: left;
      background-color: olive;
      width: 100%;
      padding: 5px;
      color: white;
      border-radius: 5px;
      text-align: center;
      &:hover {
        background-color: yellowgreen;
        width: 100%;
        padding: 5px;
        color: white;
      }
    }
  }
  #animacion div.imagen img {
    max-width: 100%;
    border-radius: 25px;
    margin: 0px;
  }
  #imagenes > img {
    width: 100%;
    height: 340px;
  }
  #animacion {
    margin-top: 140px;
    max-height: 360px;
  }
  .colum1, .colum2 {
    width: 100%;
  }
}